.back-button {
    position: absolute;
    top: 30px;
    left: 40px;
    border: 0px solid #000;
    background-color: #02cfb6;
    color: white;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    z-index: 1000; /* Asegura que el botón esté por encima de otros elementos */
  }
  
  .back-button:hover {
    background-color: #f0f0f0;
  }
  