.profile-info {
  padding: 20px;
  background-color: #00bfa5; /* Color de fondo actualizado */
  margin: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  text-align: center; /* Cambiado a 'center' para centrar el texto */
  width: 90%; /* Ajusta el ancho según sea necesario */
  max-width: 400px; /* Limita el ancho máximo */
  color: white; /* Color del texto cambiado a blanco */
  font-weight: bold;
}

.profile-info p {
  margin: 10px 0;
}

.edit-button, .delete-button {
  padding: 10px 20px;
  margin: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button {
  background-color: #007BFF;
  color: white;
}

.delete-button {
  background-color: #FF0000;
  color: white;
}

/* Centrar los botones */
.button-container {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espacio entre los botones */
}
