.activities-page {
    padding: 20px;
    background-color: #6a1b9a; /* Color de fondo violeta */
    min-height: 100vh;
  }
  
  .add-activity-button {
    background-color: #00c853;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  .activities-list {
    margin-top: 20px;
  }
  
  .activity-item {
    background-color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
  }
  
  .activity-item h3 {
    margin: 0;
    font-size: 18px;
  }
  
  .activity-item p {
    margin: 5px 0;
  }
  