.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 100vh;
  background-image: url('C:\Users\Max Bryam\Desktop\gadiel\Gadiel\src\images\fondito.png');
  background-size: cover;
  background-position: center;
}

.home-container .title {
  margin-top: 20px; /* Ajusta este valor según sea necesario */
}

.home-container .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px; /* Ajusta este valor según sea necesario para la separación */
}
